{% extends 'base.html.twig' %}

{% block title %}ShopNest{% endblock %}

{% block body %}
    <a href="{{ path('product_list') }}">Produit</a>
    <a href="{{ path('client_list') }}">Client</a>
    {# <a href="{{ path('facture_list') }}">Facture</a> #}

{% endblock %}
